@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

